:root {
    background-image: linear-gradient(90deg, #001230, #001360);
    color: #f2f2f2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

p, label {
    font-size: 0.75rem;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    background-color: #001230;
    padding: 2rem;
    box-shadow: 0 0 10px 5px #001360;
    border-radius: 1rem;
}

a {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 65%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #f2f2f2;
    border: solid 1.5px #b0b0b0;
    background-color: #001360;
}

input::placeholder {
    color: #f2f2f2;
    font-family: 'Trebuchet MS';
}

button {
    width: 75%;
    background-color: #f2f2f2;
    border: none;
    border-radius: 0.5rem;
    color: #001360;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: 'Trebuchet MS';
    font-weight: bolder;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    font-family: 'Trebuchet MS';
    background-color: #001360;
    color: #f2f2f2;
}
